{% extends 'ecom_admin/admin_master.html' %}
{% load static %}


{% block content %}
<!-- <div class="container"> -->
<h1 style="text-align: center;font-weight: bolder;font-family: Georgia, 'Times New Roman', Times, serif;color: brown;">Change Password</h1><br>
<!-- start  -->

<br><br><br>
<section class="section mb-5 mt-5">
    <div class="container ">
        <div class="row justify-content-center">
            <div class="col-lg-11 text-center">
                <div id="container">
                    <div id="header"></div>
                    <div id="form">
                        <form>
                            <input type="password" placeholder="Old Password" id="passOld" required> <br><br>

                            <input type="password" placeholder="New Password" id="passOne" required> <br><br>

                            <input type="password" placeholder="Confirm Password" id="passTwo" required> <br><br><br>
                            <div class="btn1">
                                <!-- edit  -->
                                <a href="{% url 'ecom_admin:admin_home' %}">
                                    <!-- edit  -->
                            
                                <input type="button" value="submit" class="btn-primary" id="btn1"> 
                            </a>
                            </div>
                        </form>
                    </div>
                    <div id="footer" class="incorrect"></div>
                </div>
            </div>
        </div>
    </div> <br><br><br>
    </div>
</section>

<!-- end  -->


    

<!-- </div> -->
{% endblock %}