{% extends 'reseller_app/reseller_master.html' %}
{% load static %}


{% block content %}

<h1 style="text-align: center;font-weight: bolder;font-family: Georgia, 'Times New Roman', Times, serif;color: brown;">ADD PRODUCT</h1><br>
<form class="product-form form-inline" style="margin-left: 360px;">

  <table>
    <tr>
      <td><label for="exampleFormControlSelect1" class="lable m-3">Category</label></td>
      <td> <select class="form-control drop format  d-inline" id="exampleFormControlSelect1">
          <option>Clothing</option>
          <option>Electronics</option>
          <option>Shoes</option>
          <option>Watches</option>
          <option>Jewellery</option>
        </select></td>
    </tr>

    <tr>
      <td>
        <label for="exampleFormControlInput1" class="lable d-inline m-3">Product Name</label>

      </td>
      <td>
        <input type="text" class="form-control  format d-inline" id="exampleFormControlInput1" placeholder="">

      </td>
    </tr>

    <tr>

      <td>

        <label for="exampleFormControlInput1" class="lable d-inline m-3">Product No</label>
      </td>
      <td>
        <input type="text" class="form-control   format d-inline" id="exampleFormControlInput1" placeholder="">

      </td>
    </tr>

    <tr>
      <td>
        <label for="exampleFormControlTextarea1" class="lable d-inline m-3">Product Description</label>

      </td>
      <td>
        <textarea class="form-control format  d-inline" style="vertical-align: middle;" id="exampleFormControlTextarea1"
          rows="3"></textarea>

      </td>
    </tr>
    <tr>
      <td>
        <label for="exampleFormControlInput1" class="lable d-inline m-3">Price</label>

      </td>
      <td>
        <input type="text" class="form-control   format d-inline " id="exampleFormControlInput1" placeholder="">

      </td>
    </tr>


    <tr>
      <td>
        <label for="exampleFormControlInput1" class="lable d-inline m-3">Available Stock</label>

      </td>
      <td>
        <input type="text" class="form-control  format d-inline" id="exampleFormControlInput1" placeholder="">

      </td>
    </tr>
    <tr>
      <td>
        <label for="exampleFormControlTextarea1" class="lable m-3">Upload Image</label>

      </td>
      <td>
        <input type="file" id="myFile" name="filename" class="form-control">

      </td>
    </tr>
    <tr>
      <td colspan="2" align="left">
        <button type="submit" class="btn btn-danger w-50 ml-4"
          style="position: relative;left:100px;top:20px;width: 100px">Add</button>

      </td>
    </tr>
  </table>




</form>

{% endblock %}