{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
<!-- Meta -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="">
<meta name="author" content="">
<meta name="keywords" content="MediaCenter, Template, eCommerce">
<meta name="robots" content="all">
<title>Marazzo premium HTML5 & CSS3 Template</title>

<!-- Bootstrap Core CSS -->
<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">

<!-- Customizable CSS -->
<link rel="stylesheet" href="{% static 'css/main.css' %}">
<link rel="stylesheet" href="{% static 'css/blue.css' %}">
<link rel="stylesheet" href="{% static 'css/owl.carousel.css' %}">
<link rel="stylesheet" href="{% static 'css/owl.transitions.css' %}">
<link rel="stylesheet" href="{% static 'css/animate.min.css' %}">
<link rel="stylesheet" href="{% static 'css/rateit.css' %}">
<link rel="stylesheet" href="{% static 'css/bootstrap-select.min.css' %}">

<!-- Icons/Glyphs -->
<link rel="stylesheet" href="{% static 'css/font-awesome.css' %}">

<!-- Fonts -->
<link href="https://fonts.googleapis.com/css?family=Barlow:200,300,300i,400,400i,500,500i,600,700,800" rel="stylesheet">
<link href='http://fonts.googleapis.com/css?family=Roboto:300,400,500,700' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,400italic,600,600italic,700,700italic,800' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
</head>
<body class="cnt-home">
<!-- ============================================== HEADER ============================================== -->
{% include 'reseller_app/header.html' %}
<!-- ============================================== HEADER : END ============================================== -->
 
<div class="col-xs-12 col-sm-12 col-md-3 sidebar"> 
        
	<!-- ================================== TOP NAVIGATION ================================== -->
	<div class="side-menu animate-dropdown outer-bottom-xs">
	  <div class="head"><i class="icon fa fa-align-justify fa-fw"></i></div>
	  <nav class="yamm megamenu-horizontal">
		<ul class="nav">

		  <li class="dropdown menu-item"> <a href="{% url 'reseller:reseller_home' %}" >Home</a>
		  </li>
		  <li class="dropdown menu-item"> <a href="#" class="dropdown-toggle" data-toggle="dropdown">My Account</a>
			</li>
		  
		  
		  <li class="dropdown menu-item"> <a href="{% url 'reseller:add_product' %}"  >Add Products</a> 
			
			<li class="dropdown menu-item"> <a href="{% url 'reseller:reseller_orders' %}" class="dropdown-toggle" data-toggle="dropdown">My Orders</a>
		  <li class="dropdown menu-item"> <a href="#" class="dropdown-toggle" data-toggle="dropdown">Change Password</a>
			  </li>
		
		  

			 </li>
		  <!-- /.menu-item -->
		  
		  <li class="dropdown menu-item"> <a href="{% url 'reseller:reseller_orders' %}"  >Order History</a>
			
		  </li>
		  <li class="dropdown menu-item"> <a href="" class="dropdown-toggle"  >Logout</a>
		  <!-- /.menu-item -->
		  
		  
		  
		</ul>
		<!-- /.nav --> 
	  </nav>
	  <!-- /.megamenu-horizontal --> 
	</div>
	<!-- /.side-menu --> 
	
	
  </div>
<div class="body-content outer-top-xs">
	<div class="container"> 
		<div class="row ">
			<div class="shopping-cart">
				<div class="shopping-cart-table ">
	<div class="table-responsive">
		<table class="table">
			<thead>
				<tr>
					 
					<th class="cart-description item">Image</th>
					<th class="cart-product-name item">Product Name</th>
					<th class="cart-edit item">Edit</th>
					<th class="cart-qty item">Quantity</th>
					<th class="cart-sub-total item">Subtotal</th>
					<th class="cart-total last-item">Grandtotal</th>
				</tr>
			</thead><!-- /thead -->
			
			<tbody>
				
				<tr align="center">
				 
					<td class="cart-image">
						<a class="entry-thumbnail" href="detail.html">
							<img src="{% static 'images/products/p1.jpg' %}" alt="">
						</a>
					</td>
					<td class="cart-product-name-info">
						<h4 class='cart-product-description'><a href="detail.html">Floral Print Buttoned</a></h4>
						<div class="row">
							<div class="col-sm-12">
								<div class="rating rateit-small"></div>
							</div>
							<div class="col-sm-12">
								<div class="reviews">
									(06 Reviews)
								</div>
							</div>
						</div><!-- /.row -->
						<div class="cart-product-info">
											<span class="product-color">COLOR:<span>Blue</span></span>
						</div>
					</td>
					<td class="cart-product-edit"><a href="#" class="product-edit">Edit</a></td>
					<td class="cart-product-quantity">
						<div class="quant-input">
								<div class="arrows">
								  <div class="arrow plus gradient"><span class="ir"><i class="icon fa fa-sort-asc"></i></span></div>
								  <div class="arrow minus gradient"><span class="ir"><i class="icon fa fa-sort-desc"></i></span></div>
								</div>
								<input type="text" value="1">
						  </div>
					</td>
					<td class="cart-product-sub-total"><span class="cart-sub-total-price">$300.00</span></td>
					<td class="cart-product-grand-total"><span class="cart-grand-total-price">$300.00</span></td>
				</tr>
				<tr align="center">
				 
					<td class="cart-image">
						<a class="entry-thumbnail" href="detail.html">
							<img src="{% static 'images/products/p1.jpg' %}" alt="">
						</a>
					</td>
					<td class="cart-product-name-info">
						<h4 class='cart-product-description'><a href="detail.html">Floral Print Buttoned</a></h4>
						<div class="row">
							<div class="col-sm-12">
								<div class="rating rateit-small"></div>
							</div>
							<div class="col-sm-12">
								<div class="reviews">
									(06 Reviews)
								</div>
							</div>
						</div><!-- /.row -->
						<div class="cart-product-info">
											<span class="product-color">COLOR:<span>Blue</span></span>
						</div>
					</td>
					<td class="cart-product-edit"><a href="#" class="product-edit">Edit</a></td>
					<td class="cart-product-quantity">
						<div class="quant-input">
								<div class="arrows">
								  <div class="arrow plus gradient"><span class="ir"><i class="icon fa fa-sort-asc"></i></span></div>
								  <div class="arrow minus gradient"><span class="ir"><i class="icon fa fa-sort-desc"></i></span></div>
								</div>
								<input type="text" value="1">
						  </div>
					</td>
					<td class="cart-product-sub-total"><span class="cart-sub-total-price">$300.00</span></td>
					<td class="cart-product-grand-total"><span class="cart-grand-total-price">$300.00</span></td>
				</tr>
				<tr align="center">
				 
					<td class="cart-image">
						<a class="entry-thumbnail" href="detail.html">
							<img src="{% static 'images/products/p1.jpg' %}" alt="">
						</a>
					</td>
					<td class="cart-product-name-info">
						<h4 class='cart-product-description'><a href="detail.html">Floral Print Buttoned</a></h4>
						<div class="row">
							<div class="col-sm-12">
								<div class="rating rateit-small"></div>
							</div>
							<div class="col-sm-12">
								<div class="reviews">
									(06 Reviews)
								</div>
							</div>
						</div><!-- /.row -->
						<div class="cart-product-info">
											<span class="product-color">COLOR:<span>Blue</span></span>
						</div>
					</td>
					<td class="cart-product-edit"><a href="#" class="product-edit">Edit</a></td>
					<td class="cart-product-quantity">
						<div class="quant-input">
								<div class="arrows">
								  <div class="arrow plus gradient"><span class="ir"><i class="icon fa fa-sort-asc"></i></span></div>
								  <div class="arrow minus gradient"><span class="ir"><i class="icon fa fa-sort-desc"></i></span></div>
								</div>
								<input type="text" value="1">
						  </div>
					</td>
					<td class="cart-product-sub-total"><span class="cart-sub-total-price">$300.00</span></td>
					<td class="cart-product-grand-total"><span class="cart-grand-total-price">$300.00</span></td>
				</tr>
			</tbody><!-- /tbody -->
			
			<tfoot>
				<tr>
					<td colspan="7">
						
					</td>
				</tr>
			</tfoot>
		</table>
</div><!-- /.cart-shopping-total -->			</div><!-- /.shopping-cart -->
		</div> <!-- /.row -->
		<!-- ============================================== BRANDS CAROUSEL ============================================== -->
<div id="brands-carousel" class="logo-slider wow fadeInUp">

		<div class="logo-slider-inner">	
			<div id="brand-slider" class="owl-carousel brand-slider custom-carousel owl-theme">
				<div class="item m-t-15">
					<a href="#" class="image">
						<img data-echo="{% static 'images/brands/brand1.png' %}" src="{% static 'images/blank.gif' %}" alt="">
					</a>	
				</div><!--/.item-->

				<div class="item m-t-10">
					<a href="#" class="image">
						<img data-echo="{% static 'images/brands/brand2.png' %}" src="{% static 'images/blank.gif' %}" alt="">
					</a>	
				</div><!--/.item-->

				<div class="item">
					<a href="#" class="image">
						<img data-echo="{% static 'images/brands/brand3.png' %}" src="{% static 'images/blank.gif' %}" alt="">
					</a>	
				</div><!--/.item-->

				<div class="item">
					<a href="#" class="image">
						<img data-echo="{% static 'images/brands/brand4.png' %}" src="{% static 'images/blank.gif' %}" alt="">
					</a>	
				</div><!--/.item-->

				<div class="item">
					<a href="#" class="image">
						<img data-echo="{% static 'images/brands/brand5.png' %}" src="{% static 'images/blank.gif' %}" alt="">
					</a>	
				</div><!--/.item-->

				<div class="item">
					<a href="#" class="image">
						<img data-echo="{% static 'images/brands/brand6.png' %}" src="{% static 'images/blank.gif' %}" alt="">
					</a>	
				</div><!--/.item-->

				<div class="item">
					<a href="#" class="image">
						<img data-echo="{% static 'images/brands/brand2.png' %}" src="{% static 'images/blank.gif' %}" alt="">
					</a>	
				</div><!--/.item-->

				<div class="item">
					<a href="#" class="image">
						<img data-echo="{% static 'images/brands/brand4.png' %}" src="{% static 'images/blank.gif' %}" alt="">
					</a>	
				</div><!--/.item-->

				<div class="item">
					<a href="#" class="image">
						<img data-echo="{% static 'images/brands/brand1.png' %}" src="{% static 'images/blank.gif' %}" alt="">
					</a>	
				</div><!--/.item-->

				<div class="item">
					<a href="#" class="image">
						<img data-echo="{% static 'images/brands/brand5.png' %}" src="{% static 'images/blank.gif' %}" alt="">
					</a>	
				</div><!--/.item-->
		    </div><!-- /.owl-carousel #logo-slider -->
		</div><!-- /.logo-slider-inner -->
	
</div><!-- /.logo-slider -->
<!-- ============================================== BRANDS CAROUSEL : END ============================================== -->	</div><!-- /.container -->
</div><!-- /.body-content -->

<!-- ============================================================= FOOTER ============================================================= -->

{% include 'reseller_app/footer.html' %}      
<!-- ============================================================= FOOTER : END============================================================= --> 

<!-- For demo purposes – can be removed on production --> 

<!-- For demo purposes – can be removed on production : End --> 

<!-- JavaScripts placed at the end of the document so the pages load faster --> 
<script src="{% static 'js/jquery-1.11.1.min.js' %}"></script> 
<script src="{% static 'js/bootstrap.min.js' %}"></script> 
<script src="{% static 'js/bootstrap-hover-dropdown.min.js' %}"></script> 
<script src="{% static 'js/owl.carousel.min.js' %}"></script> 
<script src="{% static 'js/echo.min.js' %}"></script> 
<script src="{% static 'js/jquery.easing-1.3.min.js' %}"></script> 
<script src="{% static 'js/bootstrap-slider.min.js' %}"></script> 
<script src="{% static 'js/jquery.rateit.min.js' %}"></script> 
<script src="{% static 'js/lightbox.min.js' %}"></script> 
<script src="{% static 'js/bootstrap-select.min.js' %}"></script> 
<script src="{% static 'js/wow.min.js' %}"></script> 
<script src="{% static 'js/scripts.js' %}"></script>
</body>

</html>