{% extends 'reseller_app/reseller_master.html' %}
{% load static %}


{% block content %}
<div class="container">
<h1 style="text-align: center;font-weight: bolder;font-family: Georgia, 'Times New Roman', Times, serif;color: brown;">ORDER HISTORY</h1><br>
<form class="product-form"  >

    <table class="table table-hover  table-striped">
        <tr>
            <th>Sl.No</th>
            <th>Order Date</th>
            <th>Product No</th>
            <th>Product Name</th>
            <th>Customer Name</th>
            <th>Mobile No</th>
            <th>Shipping Address</th>
            <th>Qty</th>
            <th>Total Amount</th>
            
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
             
        </tr>
       
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
             
        </tr>
      </table> 


</form>
</div>
{% endblock %}